---
import '@/css/index.css'
import {Image} from 'astro:assets'
import Logo from '@/assets/logo.webp'

const text = encodeURI('Hola, quisiera más información')
---
<header class="main_header">
    <div class="header_logo">
        <a href="/magic-world-simple/">
            <Image src={Logo} alt="Header Logo" loading={'eager'}/>
        </a>
        <h2>Magic world Explorers</h2>
    </div>
    <div class="header_menu_mobile">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <nav class="header_nav">
        <ul class="nav_list">
            <li><a href="subscribe" target="_blank">Haz parte</a></li>
            <a class="header_btn--contact" href=`http://wa.me/573103468979?text=${text}` target="_blank">Contacto</a>
        </ul>
    </nav>
</header>
<script>
    const navBtn = document.querySelector('.header_menu_mobile');

    navBtn.addEventListener('click', function(){
        document.querySelectorAll('.line').forEach(line => {
            line.classList.toggle('open');
        });
        const navList = document.querySelector('.header_nav')
            if(navList){
                navList.classList.toggle('open')
            };
    });
</script>
