---
import '@/css/services.css'
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
interface Props {
    id: number
    name: string,
    excerpt: string,
    thumb: ImageMetadata,
}

const {id, excerpt, name, thumb} = Astro.props

---

<div class="service_card" id={excerpt}>
    <span>
        <Image src={thumb} alt={excerpt} width={400} height={300} quality={100}/>
    </span>
    <h4 set:html={name}></h4>
</div>