---
import '../css/services.css'

import ServicesCard from './Services_card.astro'

import Planet1 from '../assets/planet1.svg'
import Planet2 from '../assets/planet2.svg'
import Planet3 from '../assets/planet3.svg'

import servicesData from '../content/services.json'

const {result} = servicesData;
const {services} = result;
const maxServices = 3;
const limitedServices = services.slice(0, maxServices)

console.log(limitedServices)

---
<section class="services_section" id="services">
    <div class="services_container">
        <div class="services_title">
            <h1>Nuestros Servicios</h1>
        </div>
        <div class="services_description--container">
            <Planet1  class='planet1' />
            <Planet2 class='planet2' />
            <Planet3 class='planet3' />
            {
                limitedServices.length > 0 ? (
                <>
                    {
                        limitedServices.map((service) => (
                            <ServicesCard {...service}/>
                        ))
                    }
                </>
                ) : null
            }
        </div>
    </div>
    <div class="services_cta">
        <a href="http://wa.me/573103468979" target="_blank">MÁS INFORMACIÓN</a>
    </div>
</section>
<script>
    function handleViewPortChange(event){
        if(event.matches){
            document.addEventListener("DOMContentLoaded", () => {
                import("motion").then(({ scroll, animate }) => {
                scroll(animate(".planet1", {y: [300, 0] }, { duration: .2 }));
                scroll(animate(".planet2", {y: [300, 0] }, { duration: .2 }));
                scroll(animate(".planet3", {y: [300, 0] }, { duration: .2 }));
                });
            });
        }else{
            document.addEventListener("DOMContentLoaded", () => {
                import("motion").then(({ scroll, animate }) => {
                scroll(animate(".planet1", { y: [-300, 0], x: [-300, 0] }, { duration: .2 }));
                scroll(animate(".planet2", { y: [200, 0], x: [-200, 0] }, { duration: .5 }));
                scroll(animate(".planet3", { y: [-300, 0], x: [150, 0] }, { duration: .5 }));
                });
            });
        };
    };

    const mediaQuery = window.matchMedia("(min-width: 350px) and (max-width: 1024px )")

    mediaQuery.addEventListener("change", handleViewPortChange);

    handleViewPortChange(mediaQuery);

</script>